
@font-face {
    font-family: duck;
    src: url("Druk.ttf");
}
@font-face {
    font-family: new;
    src: url("NeueMontreal-Regular.ttf");
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:"NeueMontreal";
}
html,body{
    height: 100%;
    width: 100%;
}
#main{
    width: 100%;
}
.page1{
    height: 100vh;
    width: 100%;
    background-color: #f2f1e4;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.page1 .imagecontainer{
    height: 20vw;
    width: 20vw;
    margin-top: 10vw;
    overflow: hidden;
}
.page1 .imagecontainer img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.page1 .three{
    width: 100%;
    margin-top: 12vw;
    padding: 0.2vw 4vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
    transition: all ease 0.5s;
}
.page1 .three button{
    font-size: 1.6vw;
    font-family: new;
    background-color: #fff;
    color: #2356c7;
    padding: 0.5vw 1vw;
    border-radius: 2vw;
    border: 2px solid #2356c7;
}
.three button:hover{
    background-color:#184dc4 ;
    color: #fff;
}
.page1 .three h3{
    font-size: 1.2vw;
    text-transform: uppercase;
    font-family: new;
    font-weight: 100;
    text-align: center;
    color:#2356c7;
}
.page2{
    position: relative;
    width: 100%;
    background-color: #f2f1e4;
}
.page2 .line{
    height: 0.08vw;
    width: 93vw;
    margin-left: 3vw;
    background-color: #2356c7;
}
.page2 h1{
    font-family: duck;
    text-transform: uppercase;
    color: #184dc4;
    font-weight: 900;
    font-size: 14.5vw;
    margin-left: 3vw;
}
.boxes{
    height: 42vw;
    width: 100%;
    display: flex;
    gap: 2vw;
    overflow: hidden;
    padding: 0 3vw;
    margin-top: 3vw;
}
.box1{
    position: relative;
    height: 100%;
    width: calc(100% / 3);
    border-radius: 2vw;
    margin-top: 9vw;
    overflow: hidden;
    transition: all ease 0.5s;
}
.box1 .mouse{
    position: absolute;
    height: 3vw;
    width: 6vw;
    background-color:#fff;
    border-radius:4vw;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: new;
    font-size: 1.6vw;
    color: #184dc4;
    scale: 0;
}
.box2{
    position: relative;
    height: 100%;
    width: calc(100% / 3);
    border-radius: 2vw;
    margin-top: 2vw;
    overflow: hidden;
}
.box2 .mouse{
    position: absolute;
    height: 3vw;
    width: 6vw;
    background-color:#fff;
    border-radius:4vw;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: new;
    font-size: 1.6vw;
    color: #184dc4;
    scale: 0;
}
.box3{
    position: relative;
    height: 100%;
    width: calc(100% / 3);
    border-radius: 2vw;
    margin-top: 9vw;
    overflow: hidden;
    transition: all ease 0.5s;
}
.box3 .mouse{
    position: absolute;
    height: 3vw;
    width: 6vw;
    background-color:#fff;
    border-radius:4vw;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: new;
    font-size: 1.6vw;
    color: #184dc4;
    scale: 1;
}
.boxes img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}
.boxes .box1:hover{
   margin-top: 2vw;
}
.boxes .box3:hover{
    margin-top: 2vw;
 }
.page3{
    width: 100%;
    background-color: #f2f1e4;
}
.page3 .line{
    height: 0.08vw;
    width: 93vw;
    margin-left: 3vw;
    background-color: #2356c7;
}
.page3 .pera p{
    font-size: 3.5vw;
    font-weight: 100;
    padding: 0 3vw;
    color: #184dc4;
    margin-top: 9vw;
    font-family: new;
    text-align: start;
}
.page3 .linee{
    height: 0.08vw;
    width: 93vw;
    margin-left: 3vw;
    background-color: #2356c7;
    margin-top: 5vw;
}
.page4{
    height: 156vh;
    width: 100%;
    background-color: #f2f1e4;
    position: relative;
}
.page4mouse{
    left: 0;
    top: 0;
    z-index: 999999;
    position: absolute;
    background-color: #fff;
    scale: 0;
    font-family: new;
    font-size: 1.4vw;
   height: 3vw;
   width: 10vw;
   display: flex;
   align-items: center;
   justify-content: center;
   padding: 1.5vw 0vw;
   border-radius: 2vw;
   color: #2356c7;
    border: 1px solid #2356c7;
}
.page4 .count{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5vw 4vw;
    color:#2356c7;
}
.count h3{
    font-family: new;
    font-size: 1vw;
}
.count h4{
    font-family: new;
    font-size: 1vw;
}
.container{
    display: flex;
    align-items: center;
    white-space: nowrap;
    overflow-y: 0;
    overflow-x: auto;
}
.container::-webkit-scrollbar{
    display: none;
}
.container h1{
    z-index: 888;
    font-size: 15vw;
    display: inline-block;
    gap: 2vw;
    font-family: duck;
    color: #184dc4;
    text-transform: uppercase;
    animation-name: rotate;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
@keyframes rotate {
    0%{
        transform:translateX(0);
    }
    100%{
        transform: translateX(calc(-100% - 2vw));
    }
}
.videoholder{
    z-index: 9999;
}
.videoholder video{
    position: absolute;
    height: 65vw;
    margin-left: 15vw;
    margin-top: -10vw;
    z-index: 9999;
}
.page4 .line{
    height: 0.09vw;
    width: 93vw;
    margin-left: 3vw;
    background-color: #2356c7;
    margin-top: 54vw;
}
.page5{
    height: 160vh;
    width: 100%;
    background-color: #f2f1e4;
    position: relative;
}
.page5mouse{
    left: 0;
    top: 0;
    z-index: 999999;
    position: absolute;
    background-color: #fff;
    scale: 0;
    font-family: new;
    font-size: 1.4vw;
   height: 3vw;
   width: 15vw;
   display: flex;
   align-items: center;
   justify-content: center;
   padding: 1.5vw 0vw;
   border-radius: 2vw;
   color: #2356c7;
    border: 1px solid #2356c7;
}
.page5 .count{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5vw 4vw;
    color:#2356c7;
}
.count h3{
    font-family: new;
    font-size: 1vw;
}
.count h4{
    font-family: new;
    font-size: 1vw;
}
.container{
    display: flex;
    align-items: center;
    white-space: nowrap;
    overflow-y: 0;
    overflow-x: auto;
}
.container::-webkit-scrollbar{
    display: none;
}
.container h1{
    z-index: 888;
    font-size: 15vw;
    display: inline-block;
    gap: 2vw;
    font-family: duck;
    color: #184dc4;
    text-transform: uppercase;
    animation-name: rotate;
    animation-duration: 8s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
@keyframes rotate {
    0%{
        transform:translateX(0);
    }
    100%{
        transform: translateX(calc(-100% - 2vw));
    }
}
.videoholder{
    z-index: 9999;
}
.videoholder video{
    position: absolute;
    height: 65vw;
    margin-left: 15vw;
    margin-top: -9vw;
    z-index: 9999;
}
.page5 .line{
    height: 0.09vw;
    width: 93vw;
    margin-left: 3vw;
    background-color: #2356c7;
    margin-top: 56vw;
}
.page6{
    height: 100%;
    width: 100%;
    background-color:#f2f1e4;
    position: relative;
}
.page6mouse{
    left: 0;
    top: 0;
    z-index: 999999;
    position: absolute;
    background-color: #fff;
    scale: 0;
    font-family: new;
    font-size: 1.4vw;
   height: 3vw;
   width: 15vw;
   display: flex;
   align-items: center;
   justify-content: center;
   padding: 1.5vw 0vw;
   border-radius: 2vw;
   color: #2356c7;
    border: 1px solid #2356c7;
}
.page6 .count{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5vw 4vw;
    color:#2356c7;
}
.count h3{
    font-family: new;
    font-size: 1vw;
}
.count h4{
    font-family: new;
    font-size: 1vw;
}
.container{
    display: flex;
    align-items: center;
    white-space: nowrap;
    overflow-y: 0;
    overflow-x: auto;
}
.container::-webkit-scrollbar{
    display: none;
}
.container h1{
    z-index: 888;
    font-size: 15vw;
    display: inline-block;
    gap: 2vw;
    font-family: duck;
    color: #184dc4;
    text-transform: uppercase;
    animation-name: rotate;
    animation-duration: 8s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
@keyframes rotate {
    0%{
        transform:translateX(0);
    }
    100%{
        transform: translateX(calc(-100% - 2vw));
    }
}
.videoholder{
    z-index: 9999;
}
.videoholder video{
    position: absolute;
    height: 65vw;
    margin-left: 15vw;
    margin-top: -8vw;
    z-index: 9999;
}
.page6 .line{
    height: 0.09vw;
    width: 93vw;
    margin-left: 3vw;
    background-color: #2356c7;
    margin-top: 54vw;
}
.page7{
    width: 100%;
    background-color:#f2f1e4;
    position: relative;
}
.page7mouse{
    left: 0;
    top: 0;
    z-index: 999999;
    position: absolute;
    background-color: #fff;
    scale: 0;
    font-family: new;
    font-size: 1.4vw;
   height: 3vw;
   width: 11vw;
   display: flex;
   align-items: center;
   justify-content: center;
   padding: 1.5vw 0vw;
   border-radius: 2vw;
   color: #2356c7;
    border: 1px solid #2356c7;
}
.page7 .count{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5vw 4vw;
    color:#2356c7;
}
.count h3{
    font-family: new;
    font-size: 1vw;
}
.count h4{
    font-family: new;
    font-size: 1vw;
}
.container{
    display: flex;
    align-items: center;
    white-space: nowrap;
    overflow-y: 0;
    overflow-x: auto;
}
.container::-webkit-scrollbar{
    display: none;
}
.container h1{
    z-index: 888;
    font-size: 15vw;
    display: inline-block;
    gap: 2vw;
    font-family: duck;
    color: #184dc4;
    text-transform: uppercase;
    animation-name: rotate;
    animation-duration: 8s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
@keyframes rotate {
    0%{
        transform:translateX(0);
    }
    100%{
        transform: translateX(calc(-100% - 2vw));
    }   
}
.videoholder{
    z-index: 9999;
}
.videoholder video{
    position: absolute;
    height: 65vw;
    margin-left: 15vw;
    margin-top: -8vw;
    z-index: 9999;
}
.page7 .line{
    height: 0.09vw;
    width: 93vw;
    margin-left: 3vw;
    background-color: #2356c7;
    margin-top: 54vw;
}
.page8{
    width: 100%;
    background-color: #f2f1e4;
    position: absolute;
}
.fotter{
    display: flex;
    margin-left: 3vw;
    margin-top: 4vw;
    gap: 18vw;
}
.fotter .left{
    display: flex;
    flex-direction: column;
    gap: 2vw;
}
.fotter .center{
    display: flex;
    flex-direction: column;
    gap: 2vw;
}
.fotter .right{
    display: flex;
    flex-direction: column;
    gap: 2vw;
}
.fotter h3{
    font-family: new;
    color: #184dc4;
}
.fotter h1{
    font-family: new;
    color: #184dc4;
    font-size: 2.5vw;
}
.page8 .line{
    height: 0.09vw;
    width: 93vw;
    margin-left: 3vw;
    background-color: #2356c7;
    margin-top: 4vw;
}
.about1{
    height: 3vw;
    overflow: hidden;
}
.about1 h2{
    font-family: new;
    color: #184dc4;
    font-size: 2.5vw;
}
.about2{
    height: 3vw;
    overflow: hidden;
}
.about2 h2{
    font-family: new;
    color: #184dc4;
    font-size: 2.5vw;
}.about3{
    height: 3vw;
    overflow: hidden;
}
.about3 h2{
    font-family: new;
    color: #184dc4;
    font-size: 2.5vw;
}
.about4{
    height: 3vw;
    overflow: hidden;
}
.about4 h2{
    font-family: new;
    color: #184dc4;
    font-size: 2.5vw;
}
.about5{
    height: 3vw;
    overflow: hidden;
}
.about5 h2{
    font-family: new;
    color: #184dc4;
    font-size: 2.5vw;
}.about6{
    height: 3vw;
    overflow: hidden;
}
.about6 h2{
    font-family: new;
    color: #184dc4;
    font-size: 2.5vw;
}
.about7{
    height: 3vw;
    overflow: hidden;
}
.about7 h2{
    font-family: new;
    color: #184dc4;
    font-size: 2.5vw;
}
.about8{
    height: 9vw;
    overflow: hidden;
}
.about8 h2{
    font-family: new;
    color: #184dc4;
    font-size: 2.5vw;
}



































































































/* #main{
    width: 100%;
    background-color: red;
}
.loader{
    position: absolute;
    height: 100vh;
    width: 100%;
    background-color: #f2f1e4;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;

}
.imageholder{
    height: 27vw;
    width: 27vw;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 9vw;
    overflow: hidden;
}
.textholder{
    height: 5vw;
    width:30vw;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 44vw;
    position: absolute;
    overflow: hidden;
}
.imageholder img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.textholder h2{
    text-transform: uppercase;
    text-align: center;
    font-size: 1vw;
    color: #6e8ed1;
    font-family: new;
}
.fixed{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2vw 4vw;
    gap: 76vw;
   position: fixed;
   z-index: 999;
}
.fixed button{
    padding: 1vw 2vw;
    font-size: 1.2vw;
    font-weight: 600;
    font-family: new;
    color:#2959c8;
    border-radius: 1.6vw;
    border: 2px solid #2959c8;
}
.page1{
    width: 100%;
    background-color: #f2f1e4;
}
.line1{
    position: absolute;
    margin-top: 8vw;
    height: 0.01vw;
    width: 95%;
    margin-left: 2.5vw;
    background-color: #2959c8;
}
.page1 h1{
    position: absolute;
    margin-top: 6vw;
    font-size: 14.8vw;
    margin-left: 2vw;
    color: #184dc4;
    font-family: duck;
    font-weight: 900;
    text-transform: uppercase;
}
.boxes{
    width: 95%;
    height: 40vw;
    overflow: hidden;
    margin-left: 2.5vw;
    position: absolute;
    margin-top: 30vw;
    display: flex;
    gap: 2vw;
}
.box{
    margin-top: 2vw;
    height: 40vw;
    width:calc(100% / 3);
    background-color: red;
    border-radius: 2vw;
    transition: all ease 0.5s;
}
.box img{
    border-radius: 2vw;
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.boxes .box:nth-child(1){
    margin-top: 10vw;
}
.boxes .box:nth-child(3){
    margin-top: 10vw;
}
.boxes .box:nth-child(1):hover{
    margin-top: 2vw;
}
.boxes .box:nth-child(3):hover{
    margin-top: 2vw;
}
.page1 .pera{
    position: absolute;
    margin-top: 75vw;
    width: 95vw;
    margin-left: 2.5vw;
}
.pera p{
    font-size: 3vw;
    color: #184dc4;
    font-family: new;
    font-weight: 600;
} */